<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>forgot password</h1>
        <input type="text" placeholder="Enter your email" id="email">
        <button id="sendlink">send link</button>
        <script src="/js/forgot_password.js"></script>
    </body>
</html>