
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>

    <div class="container">
        <h1>We will send a link to reset your password on your email</h1>
        <form action="/users/forgot-password" method="post">
            <div class="input">
                <input type="text" placeholder="Enter your email" id="email">
                <label class="label-unactive" for="email">Email address</label>
            </div>
            <div>
                <button id="sendlink" class="submit-btn">Continue</button>
            </div>
        </form>
    </div>
    
    <script src="/js/forgot_password.js"></script>
    <script src="/js/signup.js"></script>
</body>
</html>