<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>profile page</h1>
        <a id="verify_mobile_link">verify your mobile</a>
        <button id="logout">Logout</button>
        <script src="/js/profile.js"></script>
    </body>
</html>