

<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>

    <div class="container">
        <h1>Reset your password</h1>
        <form action="/auth/reset-password/?userId=<%=userId%>" method="POST">
            <div class="input">
                <input type="password" name="password" id="password">
                <label class="label-unactive" for="password">Password</label>
            </div>
            <div class="input">
                <input type="password" name="confirm_password" id="confirm_password">
                <label class="label-unactive" for="confirm-password">Confirm Password</label>
            </div>
            <div>
                <button id="submit-btn" type="submit">Continue</button>
            </div>
        </form>
    </div>
    
    <script src="/js/signup.js"></script>
</body>
</html>