<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>reset your password</h1>
        <form action="/auth/reset-password/?userId=<%=userId%>" method="POST">
            <input type="password" name="password" id="password" placeholder="Enter your new password">
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Enter your password again">
            <input id="reset_password" type="submit" value="reset password">
        </form>
        <script src="/js/reset_password.js"></script>
    </body>
</html>