<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/signup.css">
    </head>
    <body>
        <div class="container">
            <h1>Create your account</h1>
            <form action="/auth/signup" method="POST">
                <div class="input">
                    <input type="text" required="true"  id="name" name="name">
                    <label class="label-unactive" for="name"> Name </label>
                </div>
                <div class="input">
                    <input type="email" required="true"  id="email" name="email">
                    <label class="label-unactive" for="email"> Email address </label>
                </div>
                <div class="input">
                    <input type="password" required="true"  id="password" name="password">
                    <label class="label-unactive" for="password"> Password </label>
                </div>
                <div class="input">
                    <input type="password" required="true" name="confirm_password">
                    <label class="label-unactive" for="confirm_password"> Confirm Password </label>
                </div>
                <div class="input">
                    <button id="submit-btn" type="submit">Continue</button>
                </div>
            </form>

            <p id="already-have-account">Already have an account? <a href="/auth/signin">Log in</a></p>

            <p id="or">OR</p>

            <a href="" ><button id="continue-with-google">
                <img src="https://img.icons8.com/color/16/000000/google-logo.png" alt="google-logo">
                <p>Continue with Google</p>
            </button></a>
        </div>
        
        <script src="/js/signup.js"></script>
    </body>

</html>