<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>signup page</h1>
        <form action="/auth/signup" method="post">
            <input type="text" required="true" placeholder="your name" id="name" name="name">
            <input type="email" required="true" placeholder="your email" id="email" name="email">
            <input type="password" required="true" placeholder="your password" id="password" name="password">
            <input type="password" required="true" placeholder="confirm your password" id="confirm_password" name="confirm_password">
            <input type="submit" value="signup">
        </form>
    </body>
</html>