<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>signin page</h1>
        <form action="/auth/signin" method="POST">
            <input type="email" required="true" placeholder="your email" id="email" name="email">
            <input type="password" required="true" placeholder="your password" id="password" name="password">
            <input type="submit" value="signin">
        </form>
    </body>
</html>