<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Verify your mobile number</h1>
        <input type="number" id="mobile" name="mobile" placeholder="Enter your mobile"/>
        <button id="sendotp">Send OTP</button>
        <input type="number" id="otp" name="otp" placeholder="Enter OTP"/>
        <button id="verifyotp">Verify</button>
        <script src="/js/verify_mobile.js"></script>
    </body>
</html>